html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Oswald', sans-serif;
}

/******************TABLEAU DE BORD UTILISATEUR************************/
#user-dashboard{
    background-color: #016b90!important;
    color: white;
    padding: 10px;
}