html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Oswald', sans-serif;
}

/******************TABLEAU DE BORD UTILISATEUR************************/
#user-dashboard{
    background-color: #016b90!important;
    color: chocolate;
    padding: 10px;

}
#annonce-card{
    height: 100%;

}
.card-img-top{
    padding: 20px;
    border-radius: 10px;
}
/************************TABLEAU DE BORD ADMIN******************/
#admin-dashboard{
    background-color: #373a3c;
    color: white;
    padding: 10px;
}